<html lang="en" ng-app="gameApp">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  <link rel="stylesheet" href="/css/game.css">
</head>
<body ng-cloak ng-controller="AppCtrl">
  <!--
    Your HTML content here
  -->
  <div ui-view>
  </div>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <script src="/js/angular-ui-router.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>


  <!-- Your application bootstrap  -->
  <script type="text/javascript">

    // Instantiate angular
    var app = angular.module("gameApp", ["firebase", "ngMaterial", "ui.router"]);

    // Angular settings
    app.config(['$interpolateProvider', '$stateProvider', '$urlRouterProvider',
      function($interpolateProvider, $stateProvider, $urlRouterProvider) {

        // Prevent conflicts with jinja templates
        $interpolateProvider.startSymbol('{[');
        $interpolateProvider.endSymbol(']}');


        // Generate a default game id for the day
        var d = new Date();
        var todaysGameId = d.getMonth() + "" + d.getDate();

        // Handle routing for the app
        $stateProvider
            .state('gameParamsSetup', {
                url: '/',
                templateUrl: '/templates/gameParamsSetup.html',
                controller: 'GameParamsSetupCtrl'
            })
            .state('game', {
                url: '/game/:gameId/:username/',
                templateUrl: '/templates/game.html',
                controller: 'GameCtrl'
            });
        $urlRouterProvider.otherwise('/');

      }
    ]);

    app.controller("AppCtrl", function($scope){
      console.log('Main app ctrl');
    });


    app.controller("GameParamsSetupCtrl", function($scope, $state){
      console.log('Just ask for basic setup info that changes the url');

      // Handle link clicks
      $scope.goToGame = function(id){
        console.log('test' + $scope.gameId + " " + $scope.username);
        $state.go('game', {"gameId": $scope.gameId, "playerName": $scope.username});
      };

    });

    // Main controller for the game
    app.controller("GameCtrl", function($scope, $firebaseObject, $firebaseArray, $state, $stateParams) {

      // Game id as stored in firebase
      var gameId = $state.params.gameId;
      var username = $state.params.username;
      var userId = "user-" + username;

      // download the boardgame data into a local object
      var cardsPath = new Firebase("https://brett-tom-game.firebaseio.com/cards/");
      var cards = $firebaseObject(cardsPath);
      cards.$bindTo($scope, "cards").then(function() {

        // download the individual game into a local object
        var gamePath = new Firebase("https://brett-tom-game.firebaseio.com/games/");
        var games = $firebaseObject(gamePath);
        games.$bindTo($scope, "games").then(function() {

          // Get the gameboard or create it
          if (typeof $scope.games[gameId] == "undefined"){
            $scope.games[gameId] = setupEverything();
            console.log('setup everything:', $scope.games[gameId]);
          }
          else if (typeof $scope.games[gameId][userId] == "undefined") {
            $scope.games[gameId][userId] = setupStartingDeck();
          }
          else {
            console.log('got board:', $scope.games[gameId]);
          }

          // Setup game function
          function setupEverything(){
            var obj = {};
            obj.worldDeck = setupWorldDeck();
            obj[userId] = setupStartingDeck();
            return obj;
          }

          // Setup game function
          function setupStartingDeck(){

            // Set up world deck
            var startingDeck = [];

            // Go through each card in the dictionary
            angular.forEach(cards, function(card, key) {

              // Store the id in the object so it isn't lost
              card.id = key;

              // Add to world deck per count
              var startHandCount = 0;
              while (startHandCount < card.startHandCount) {
                startingDeck.push(card);
                startHandCount++;
              }

            });

            // Shuffle
            shuffle(startingDeck);

            // Return shuffled deck
            console.log('setting up ' + username + 's deck', startingDeck);
            return {'startingDeck': startingDeck};

          }

          // Setup game function
          function setupWorldDeck(){

            // Set up world deck
            var worldDeck = [];

            // Go through each card in the dictionary
            angular.forEach(cards, function(card, key) {

              // Store the id in the object so it isn't lost
              card.id = key;

              // Add to world deck per count
              var tableTileCount = 0;
              while (tableTileCount < card.tableTileCount) {
                worldDeck.push(card);
                tableTileCount++;
              }

            });

            // Shuffle
            shuffle(worldDeck);

            // Return shuffled world deck
            console.log('setting up world deck', worldDeck);
            return {'worldDeck': worldDeck};
          }

        }); // close games bindto

      }); // close cards bindto

    }); // app.controller


    function shuffle(a) {
        var j, x, i;
        for (i = a.length; i; i -= 1) {
            j = Math.floor(Math.random() * i);
            x = a[i - 1];
            a[i - 1] = a[j];
            a[j] = x;
        }
    }

  </script>

</body>
</html>